body{
margin:0;
font-family:Arial, sans-serif;
background:#f5f5f5;
}

header{
background:#ff7a00;
color:white;
padding:20px 30px;
display:flex;
justify-content:space-between;
align-items:center;
}

.header-actions{
display:flex;
gap:10px;
}

.btn-header,
.btn-volver{
background:white;
color:#ff7a00;
border:none;
border-radius:8px;
padding:12px 18px;
cursor:pointer;
font-weight:bold;
}

.contenedor{
padding:30px;
}

.grid-productos{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
gap:20px;
}

.card{
background:white;
border-radius:15px;
overflow:hidden;
cursor:pointer;
transition:.3s;
box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.card:hover{
transform:translateY(-5px);
box-shadow:0 15px 25px rgba(255,122,0,.2);
}

.img-container{
height:180px;
}

.img-container img{
width:100%;
height:100%;
object-fit:cover;
}

.card-preview{
padding:20px;
}

.nombre-producto{
font-size:18px;
font-weight:bold;
}

.categoria{
color:#888;
}

.precio-preview{
color:#ff7a00;
font-weight:bold;
font-size:20px;
}

.modal-overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
display:none;
justify-content:center;
align-items:center;
background:rgba(0,0,0,.6);
}

.modal-content{
background:white;
width:450px;
max-width:90%;
padding:25px;
border-radius:20px;
position:relative;
}

.close-btn{
position:absolute;
top:10px;
right:15px;
border:none;
background:none;
font-size:30px;
cursor:pointer;
}

.modal-img{
width:100%;
height:250px;
object-fit:contain;
}

.modal-meta{
display:flex;
justify-content:space-between;
margin:20px 0;
}

.acciones-producto{
display:flex;
gap:10px;
}

.btn-editar{
width:100%;
background:#ff7a00;
color:white;
border:none;
padding:15px;
border-radius:10px;
cursor:pointer;
font-weight:bold;
}

.btn-editar:hover

.btn-eliminar{
width:100%;
background:#dc3545;
color:white;
border:none;
padding:15px;
border-radius:10px;
cursor:pointer;
font-weight:bold;
}

.btn-eliminar:hover

.empty-state{
text-align:center;
font-size:18px;
color:#666;
padding:50px;
}
