body{
    margin:0;
    font-family:Arial;
    background:#f5f5f5;
}

.contenedor{

    width:500px;

    margin:50px auto;

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 0 10px rgba(0,0,0,.15);
}

h1{
    color:#ff7a00;
    text-align:center;
}

input,
textarea{

    width:100%;

    padding:12px;

    margin:10px 0;

    border:1px solid #ccc;

    border-radius:10px;

    box-sizing:border-box;
}

button{

    width:100%;

    background:#ff7a00;

    color:white;

    border:none;

    padding:14px;

    border-radius:10px;

    cursor:pointer;
}