<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/stylesLogin.css') }}">
</head>
<body>

    <div class="contenedor">

        <h1>Iniciar Sesión</h1>

        <form method="POST">

            <input type="text"
                   name="usuario"
                   placeholder="Usuario"
                   required>

            <input type="password"
                   name="contraseña"
                   placeholder="Contraseña"
                   required>

            <button type="submit">
                Ingresar
            </button>

        </form>

    </div>

</body>
</html>
