<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">

    <title>Pedidos</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/stylesPedidosVendedor.css') }}">

</head>
<body>

<header>

    <h1>Pedidos Recibidos</h1>

    <a href="{{ url_for('inventarioVista') }}">
        <button>Volver</button>
    </a>

</header>

<div class="tabla">

    <table>

        <thead>

        <tr>
            <th>Cliente</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>

        </thead>

        <tbody>

        {% for pedido in pedidos %}

        <tr>

            <td>
                {{ pedido.usuario_cliente }}
            </td>

            <td>
                S/{{ pedido.total }}
            </td>

            <td>
                {{ pedido.estado }}
            </td>

            <td>

                <a href="{{ url_for(
                    'cambiarEstado',
                    id=pedido._id
                ) }}">

                    Entregar

                </a>

            </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

</body>
</html>